* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: darkslategrey;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 50px;
    text-shadow: burlywood 1px 1px 2px;
}

p {
    font-size: small;
    text-shadow: rgb(177, 148, 110) 1px 1px 2px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 25px;
}

img {
    width: 100%;
}

.calculadora {
    background-color: rgb(62, 102, 102);
    width: 50vw;
    height: 60vh;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgb(48, 40, 31) 1px 1px 2px, rgb(53, 44, 35) 1px 1px 3px, rgb(87, 73, 56) 2px 2px 4px, rgb(87, 73, 56) 3px 3px 4px, rgb(36, 30, 23) 3px 3px 4px;
}

.display {
    background-color: aliceblue;
    width: 65%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border: burlywood 1px solid;
    box-shadow: rgb(65, 55, 42) 1px 1px 2px, rgb(87, 73, 56) 1px 1px 3px;
}

.monitor {
    background-color: rgb(224, 215, 203);
    padding: 10px;
    width: 100%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.operaciones {
    margin-top: 50px;
    display: flex;
}

.bt {
    width: 20%;
    margin: 10px auto;
    background-color: rgb(58, 95, 95);
    border: darkslategrey 2px solid;
    border-radius: 10px;
    box-shadow: cadetblue 1px 1px 2px;
}

footer {
    margin-top: 10rem;
    text-align: center;
    color: burlywood;
}

@media screen and (max-width:450px) {
    .calculadora {
        width: 65vw;
    }
}